@use 'variables'

.labelFoodFilter
    background-color: #f7f7f7
    border-radius: 8px
    box-shadow: 1px 1px 4px gray
    color: black
    font-size: 25px
    font-weight: 500
    display: flex
    min-width: 255px
    margin-right: 65px
    justify-content: center
    align-items: center

.labelFoodFilter.selected
    border: 1px solid orange

@media (max-width: variables.$layout-breakpoint-small)
    .labelFoodFilter
        margin-right: 30px
        min-width: 190px
