@use 'variables'

.skeleton
    animation: skeletonLoading 1s linear infinite alternate

@keyframes skeletonLoading
    0%
        background-color: hsl(200, 20%, 80%)

    100%
        background-color: hsl(200, 20%, 95%)

.foodCardContainer
    margin: 30px 30px
    align-items: center
    display: flex
    flex-direction: column
    font-weight: 600
    max-width: 300px

.foodCardContent
    align-items: center
    display: flex
    flex-direction: column
    box-shadow: 1px 1px 4px 2px #aeabab
    padding: 25px 55px
    height: 270px

.foodCardImg
    height: 140px
    width: 140px

.foodCardTextContent
    display: flex
    flex-direction: column

.foodCardTextTitle
    padding: 20px 0
    margin-top: 10px
    box-shadow: 0 4px 2px -2px #e0dada
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: 150px

.skeletonText
    height: 0.25rem
    margin-bottom: 0.5rem
    border-radius: 0.25rem

.foodCardRating
    display: flex
    justify-content: space-between
    padding: 15px 0

.foodCardButtonContent
    display: flex
    justify-content: center
    margin-top: 8px

@media (max-width: variables.$layout-breakpoint-small)
    .foodCardContainer
        margin: 20px 30px
        flex-direction: row
        padding: 20px 0
        margin: 0
        border: none
        box-shadow: 0 4px 2px -2px #e0dada
        max-width: none
        width: 100%
    .foodCardImg
        padding: 0 20px 0 0
    .foodCardTextTitle
        border: none
        padding: 0
    .foodCardContent
        height: 150px
        flex-direction: row
        box-shadow: none
        padding: 0
    .foodCardRating
        flex-direction: column
        padding: 0
    .foodCardButtonContent
        margin-bottom: 0
