@use '../../../styles/variables'

.categoryContainer
    display: flex
    flex-wrap: nowrap
    padding: 1% 35px
    overflow: auto
    -ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar
        display: none
